header {
    justify-content: space-between;
}

#previous-button {
    height: 48px;
    width: 60px;
}

#exit-button {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 60px;
    border-radius: 48% 0 0 48%;
}

.landing-welcome {
    flex-direction: column;
    margin-top: 25px;
}

.landing-welcome h2,
.landing-welcome h3 {
    text-align: center;
}

.landing-welcome h3 {
    color: #607ae2;
    font-weight: 400;
}

.actions-selector {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
