.logo-app-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-form {
    margin-top: 35px;
}


.form-action {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
