header {
  justify-content: space-between;
}

/* Publish options */
.publish-options-container {
  color: #233BA0;
}

/* Title container */
.publish-options-container .title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.publish-options-container .title {
  font-weight: bold;
}

.publish-options-container .step-label {
  background: #F0F1F3 0% 0% no-repeat padding-box;
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
  color: #607AE2;
  line-height: 24px;
  padding: 0 15px 0;
  font-size: 12px;
}

/* Radio buttons */
.publish-options-wrapper {
  display: flex;
  margin-top: 19px;
  margin-bottom: 39px;
}

.publish-option ~ .publish-option {
  margin-left: 25px;
}

.publish-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
}

.publish-option > input {
  height: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.publish-option svg {
  margin-right: 11px;
}

.publish-option .radio-status {
  fill: #9D9D9D;
}

.publish-option > input[type=radio]:checked + svg .radio-status {
  fill: #677FE1;
}

/* Form field wrapper */
.form-field-wrapper .text-box option {
  color: blue;
}

@media only screen and (min-width: 769px) {
  .publish-options-container {
    text-align: center;
  }

  .form-field-wrapper .product-description {
    max-width: none;
  }

  .form-field-wrapper .char-counter {
    margin: 6px 0 0 0;
  }

  .publish-options-wrapper {
    justify-content: center;
  }
}
