/* Publish options */
.publish-options-container {
  color: #233BA0;
}

.publish-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
}

.publish-option > input {
  height: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.publish-option svg {
  margin-right: 11px;
}

.publish-option .radio-status {
  fill: #9D9D9D;
}

.publish-option > input[type=radio]:checked + svg .radio-status {
  fill: #677FE1;
}

.publish-options-container .title {
  font-weight: bold;
  margin-bottom: 14px;
}

.publish-options-container .disclaimer {
  color: #607AE2;
  font-size: 12px;
}

.publish-options-wrapper {
  display: flex;
  margin-top: 19px;
  margin-bottom: 39px;
}

.publish-option ~ .publish-option {
  margin-left: 25px;
}

/* Select */
.form-field-wrapper select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../img/select_arrow1.svg');
  background-repeat: no-repeat;
  background-position: right 23px top 50%;
}

/* Custom select */
.custom-select-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
}

.custom-select__trigger {
  align-items: center;
  display: block;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: -2px;
  right: -2px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000D;
}

.custom-options .custom-option:nth-child(even) {
  background: #F0F1F3 0% 0% no-repeat padding-box;
  opacity: 0.3;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  margin-top: 5px;
  border-radius: 5px;
  color: #233BA0;
}

.custom-option {
    cursor: pointer;
    display: block;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #233BA0;
}

/* Form field wrapper */
.form-field-wrapper .text-box option {
  color: blue;
}

.form-field-wrapper select:focus {
  background: url('../img/select_arrow_focus.svg');
  background-repeat: no-repeat;
  background-position: right 23px top 50%;
}

/* Product description */
.product-description {
  font-size: 12px;
  height: 114px;
  padding: 13px 21px 30px;
  resize: none;
  text-align: left;
  font-family: 'Poppins';
  font-size: 12px;
}


@media only screen and (min-width: 769px) {
  .publish-options-container {
    text-align: center;
  }

  .publish-options-wrapper {
    justify-content: center;
  }
}
