.results-page {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  background: transparent linear-gradient(0deg, #f0f1f3 0%, #f0f1f300 100%) 0%
    0% no-repeat padding-box;
}

.results-page .total-info {
  padding: 20px 30px;
  background-color: #fff;
}

.results-page .total-info {
  color: #233ba0;
  font-weight: bold;
  margin: 0;
}

.results-page .total-info span {
  color: #607ae2;
}

.results-page .change-search {
  padding: 20px 30px;
  background: rgba(240, 241, 243, 0.3);
}

.results-page .publication-list {
  margin-top: 0;
}

.results-page .actions {
  display: flex;
  justify-content: center;
}
