body {
  margin: 0;
  font-family: "Arial";
}

header {
  background: transparent linear-gradient(180deg, #6ae7fd 0%, #0dc3ef 100%) 0% 0% no-repeat padding-box;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h3 {
    margin: 0;
}

.main {
    padding: 12px;
}

.logo-app-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.welcome-message {
    color: #233BA0;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
}

.login-form {
    margin-top: 35px;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field-wrapper + .form-field-wrapper {
    margin-top: 15px;
}

.form-field-wrapper label {
    color: #233BA0;
    margin-bottom: 15px;
}

.form-field-wrapper input {
    border: 1px solid #49D8F7;
    border-radius: 5px;
    width: 100%;
    max-width: 297px;
    padding: 12px;
    text-align: center;
    color: #233BA0;
    box-sizing: border-box;
    transition: border 0.4s linear;
}

.form-field-wrapper input:focus {
    outline: 0;
    border: 1px solid #233BA0;
}

.form-action {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.form-action button {
    background: #F0F1F3;
    appearance: none;
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 28px;
    color: #D6D6D6;
    cursor: pointer;
    box-shadow: none;
}

.form-action button:hover {
    background: linear-gradient(180deg, #4360D1 0%, #20389C 100%) 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #607AE2;
}
